body {
	font-family: "Lato", sans-serif;
}
/**********************************
Footer Links CSS
**********************************/
.brightspace {
	background-image: url(/images/icons/brightspace.ico);
	background-size: cover;
	width: 50px;
	height: 50px;
}
.pathway {
	background-image: url(images/icons/pathway.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.equella {
	background-image: url(images/icons/equella.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.outlook {
	background-image: url(images/icons/outlook.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.teamdynamix {
	background-image: url(images/icons/teamdynamix.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.workplace {
	background-image: url(images/icons/workplace.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.coursecouncil {
	background-image: url(images/icons/coursecouncil.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.workday {
	background-image: url(images/icons/workday.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.portfolio {
	background-image: url(images/icons/portfolio.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.icons {
	margin: auto;
	display: flex;
	justify-content: space-around;
	max-width: 500px;
}

/**********************************
Contact and Notes Section CSS
**********************************/
.additions {
   width: 220px;
}
.additions span {
   display: flex;
   justify-content: space-between; 
}
.additions form {
   display: none;
   flex-flow: column;
   align-items: flex-end;
}
span input {
   border-radius: 35%;
   background: white;
   border: none;
   box-shadow: 0px 0px 2px gray;
   width: 30px;
   height: 30px;
   margin-top: 10px;
}
span input:hover {
   box-shadow: 0px 0px 4px lightgray;
   cursor: pointer;
}

/*  Make sure this doesn't affect the login form  */
textarea, form > input[type="text"] {
   width: 100%;
}
.additions input[type="submit"] {
   cursor: pointer;
   width: 65px;
   font-size: .8em;
   border-radius: 10%;
   background: lightgray;
   border: none;
   box-shadow: 0px 0px 2px gray;
}
.additions form input:nth-of-type(3):hover {
   box-shadow: 0px 0px 2px lightgray;
}