body {
	font-family: "Lato", sans-serif;
}

/**********************************
Footer link CSS
**********************************/
.brightspace {
	background-image: url(/images/brightspace.ico);
	background-size: cover;
	width: 50px;
	height: 50px;
}
.pathway {
	background-image: url(images/pathway.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.equella {
	background-image: url(images/equella.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.outlook {
	background-image: url(images/outlook.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.teamdynamix {
	background-image: url(images/teamdynamix.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.workplace {
	background-image: url(images/workplace.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.coursecouncil {
	background-image: url(images/coursecouncil.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.workday {
	background-image: url(images/workday.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.portfolio {
	background-image: url(images/portfolio.ico);
	background-size: contain;
	width: 50px;
	height: 50px;
}
.icons {
	margin: auto;
	display: flex;
	justify-content: space-around;
	max-width: 500px;
}

/**********************************
Contact Section CSS
**********************************/
.contacts {
	min-width: 220px;
}
.contacts form {
   display: none;
}
.contacts h4 {
	text-align: center;
}
.contacts h4 input {
    border-radius: 35%;
	background: white;
	border: none;
	box-shadow: 0px 0px 2px gray;
    margin-left: 20px;
    width: 30px;
}
.contacts h4 input:hover {
	box-shadow: 0px 0px 4px lightgray;
   cursor: pointer;
}
.contacts form input:nth-of-type(1) {
   max-width: 160px;
}
.contacts form input:nth-of-type(2) {
   max-width: 160px;
}
.contacts form input:nth-of-type(3) {
   cursor: pointer;
   margin-left: 95px;
   width: 65px;
   font-size: .8em;
   border-radius: 10%;
   background: lightgray;
   border: none;
   box-shadow: 0px 0px 2px gray;
}
.contacts form input:nth-of-type(3):hover {
   box-shadow: 0px 0px 2px lightgray;
}